body{
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 350px;
}

header{
    background-color: lightblue;
    padding: 3%;
}

.logo{
    background-color: yellow;
}

nav{
    background-color: darkgray;
}

main{
    background-color: rgb(0, 102, 128);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: wheat;
}

footer{
    background-color: purple;
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}