body{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../img/ucl_branding.webp");
}

header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 20px;
}
 
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}


main{
    
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto; 
    padding: 1%;   
    color: #fff;
    background-color: rgba(0, 0, 0, 0.575);
}
section{
    padding: 1%;
}
section:nth-child(even) {
    background-color:  rgba(67, 121, 126, 0.329);  /* Define a cor de fundo para seções pares */    
}

section:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.575);  /* Define a cor de fundo para seções ímpares */
}

p{
    line-height: 1.5;
    font-size: 1.4em;
    font-family: "Open Sans", sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.logo{
    width: 22%;
}

footer{
    background-color: rgba(255, 255, 255, 0.301);       
}
li,table{
    font-family: "Open sans", sans-serif;
}

li{
    color: white;
}

ul li{
    line-height: 1.5;
    font-size: 1.5em;
}

h1{
    font-family: "Roboto";
    font-size: 2.3em;
    line-height: 1.5;
}

h2{
    font-family: "Roboto";
    font-size: 1.7em;
    line-height: 1.5;
}

h3{
    font-family: "Roboto";
    font-size: 1.3em;
    line-height: 1.5;
}
table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

td,th{
    border: 5px dashed rgb(43, 43, 43);
    padding: 1.5%;
}

tr:nth-child(even) {
    background-color:rgba(218, 221, 9, 0.795);
}

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}
.col-4{
    width: 32%;
}
.col-4 p{
    font-size: 1rem;
    text-align: center;
}
.imggaleria{
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
}
a:link {
    color: rgb(255, 0, 170);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(177, 70, 159);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(70, 123, 221);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: rgb(0, 4, 255);
    background-color: transparent;
    text-decoration: underline;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px); /* 3 cards por linha */
    margin-bottom: 20px;
    background-color: #e0fffa9c;
    padding: 20px;
    box-sizing: border-box;
    color: black;
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 20px); 
}
}
@media screen and (max-width: 535px) {
    .card {
        width: calc(100% - 20px); 
    
}

}
@media screen and (max-width: 1100px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }

    nav ul li label {
       
        display: block;
    }
    .logo{
        width: 25%;
    }
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}