body{
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("img/ucl_branding.webp");
    background-repeat: repeat;
    background-size: 100%;
  
}
header{
    background-color: rgb(0, 0, 0);
    height: 125px;
    font-family:'Roboto', sans-serif;
    border-radius: 30px;
}
nav{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    border: 0;
}
a {  		
    text-decoration: none;    	
    color: red;
}  
li{
    display: inline;
    

}
.logo{
    background-color: transparent;
    padding-top: left;
    padding-bottom: left;
    text-align: left;
    width: 90%;
    
    
}
.img_logo{
    
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    
}

  .itens_menu{
    display: inline;
  }
footer{
    background-color: transparent;
    border: 20px;
}
h1, h4{

    color: white;
    font-size: 50px;
    font-size: 1.4em;
    color: #fff;
    
    font-family: "Roboto", sans-serif;
    text-align: left;
    
    background-color: transparent;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
p {
    color: white;
    font-size: 50px;
    
    color: #fff;
    
    font-family: "Roboto", sans-serif;
    text-align: left;
    
    background-color: transparent;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
